.env
.venv/
__marimo__/

reports/
assets/

#Model
*joblib

Samuel/.ipynb_checkpoints/
Samuel/.ipynb_checkpoints/*
Samuel/.venv/

Samuel/Data/CMaps/
Samuel/Data/CMaps/*
Samuel/Data/csv/
Samuel/Data/csv/*